/**
 * Frontline Business Solutions, Inc.
 * Author : FBS Team
 * ===================================================================
 * Table of Contents
 *
 * 1.0 - Resets
 * 2.0 - Repeatable Patterns
 * 3.0 - Structure / Grid / Column
 * 4.0 - Header
 * 5.0 - Main Content
 * 6.0 - Footer
 * 7.0 - Clearing
 * 8.0 - Mobile CSS / Media Queries
 * 9.0 - Font
 */
/* =================================================================== 
 * 1.0 :: Resets
 * ===================================================================
 */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
    line-height: 1.7;
    color: #000;
    font-family: "din-medium", sans-serif;
}

html {
    font-size: 63%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

article, aside, figure, footer, header, nav, section, time {
    display: block
}

/* =================================================================== 
 * 2.0 :: Repeatable Patterns
 * ===================================================================
 */

/* Links */

:focus {
    outline: 0;
}

a {
    color: inherit;
    text-decoration: none
}

/* Formating */
b, strong {
    font-weight: bold!important
}

i, em {
    font-style: italic!important
}

small {
    font-size: 75%!important
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: normal
}

h1 {
    font-size: 62px;
    line-height: 35px
}

h2 {
    font-size: 40px;
    line-height: 30px
}

h3 {
    font-size: 20px;
    line-height: 25px
}

h4 {
    font-size: 17px;
    margin-bottom: 0
}

h5 {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0
}

h6 {
    font-size: 9px;
    line-height: 15px;
    margin-bottom: 0
}

p {
    font-size: 18px;
    margin-bottom: 8px
}

.normal-text {
  font-size: 18px
}

.small-text {
  font-size: 12px;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* Alignment */

.left {
    float: left!important
}

.right {
    float: right!important
}

.t-center {
    text-align: center!important
}

.t-left {
    text-align: left!important
}

.t-right {
    text-align: right!important
}

.t-justify {
    text-align: justify!important
}

.spacing-1 {
  letter-spacing: 1px;
  font-weight: 600;
}

/* Images */

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    max-width: 100%
}

/* Margin */
.mb--0 {
  margin-bottom: 0!important;
}
.mb--10 {
    margin-bottom: 10px!important
}

.mb--20 {
    margin-bottom: 20px!important
}

.mb--30 {
    margin-bottom: 30px!important
}

.mb--40 {
    margin-bottom: 40px!important
}

.mb--50 {
    margin-bottom: 50px!important
}

.mb--60 {
    margin-bottom: 60px!important
}

.mb--90 {
  margin-bottom: 90px!important
}

.mb--120 {
  margin-bottom: 120px!important
}

.mt-1 {
 margin-top: 200px;
}

.m-auto {
  margin: 0 auto;
}

.no-pd {
  padding: 0!important;
}

.section-pd-t {
  padding-top: 100px!important
}

.section-pd-tb {
  padding: 100px 0!important;
}


button,
input[type=submit],
input[type=button],
input[type=reset] {
    border: 0;
    cursor: pointer;
    display: inline-block;
}

input[disabled] {
    cursor: default
}

input[type=checkbox]:focus,
input[type=radio]:focus,
input[type=file]:focus,
input[type=hidden]:focus {
    border: none;
    outline: 0
}

input[type=checkbox],
input[type=radio],
input[type=file],
input[type=hidden],
input[type=image],
input[type=color] {
    border: 0!important;
    border-radius: 0!important;
    padding: 0!important
}

button,
input,
textarea {
    font-family: inherit
}

button,
input {
    line-height: normal
}

textarea {
    font-size: 100%;
    overflow: auto;
    vertical-align: top
}

input[type=text],
select,
textarea {
    background: #fff;
    border: 1px solid #c4c4c4;
}

input[type=password]:focus,
input[type=text]:focus,
textarea:focus {
    /* -webkit-box-shadow: inset 0 1px 5px #d6d6d6!important;
    -moz-box-shadow: inset 0 1px 5px #d6d6d6!important;
    box-shadow: inset 0 1px 5px #d6d6d6!important; */
    border: 2px solid #ed1556;
}

form textarea,
form input[type=text] {
    width: 100%
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}

.form-control {
  width: 30rem;
  max-width: 30rem;
  height: 4rem;
  border: 2px solid #fff;
  padding: 1.6rem 2.2rem;
  margin-bottom: 10px;
  border-radius: 0.5rem;

}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 30rem;
  height: 6rem;
  font-size: 16px;
  border: 1px solid;
  border-radius: 8px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.no-border {
  border:none!important;
}

.shadow {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  
}

.no-bg {
  background:none!important;
}

.bg-pink {
  background-color: #ed1556;
}

.bg-blue {
  background-color: #2b93d1;
}

.d-inline { 
  display: inline!important;
}

.d-flex {
  display: flex;
}

.flex--33 {
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
}

.flex--67 {
  -ms-flex-preferred-size: 67%;
  flex-basis: 67%;
}
 .flex--50 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
 }

.h1-text-deco {
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 8px;
  font-size: 62px;
}

.stroke-pink {
  -webkit-text-stroke: 2px #ed1556;
  color: transparent;
}

.stroke-blue {
  -webkit-text-stroke: 2px #2b93d1;
  color: transparent;
}

.text-white {
  color: #fff;
}

.text-pink{
  color: #ed1556;
}

.pattern {
  position: absolute;
  z-index: 1;
}

.call-2-action {
  text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 420px;
    color: #fff;
    padding: 0 15px;
}

/* ===================================================================
 * 3.0 :: Structure / Grid/ Column
 * ===================================================================
 */

/* Uncomment and set these variables to customize the grid. */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

/* =================================================================== 
 * 4.0 :: Header
 * ===================================================================
 */

 header {
   padding-top: 30px;
 }

 .nav-bar {
   justify-content: space-between;
 }

 .nav-contact {
  color: #ed1556;
  border-color: #ed1556;
  margin-top:10px;
 }

 
/* =================================================================== 
 * 5.0 :: Main Content
 * ===================================================================
 */

 .banner {
  background-image:  linear-gradient(to right, #ed1556 50%, #2b93d1 50%);
 }

 .banner-wrapper {
  height: 60rem;
 }

 .banner-left {
  background-color: #ed1556;
  position: relative;
  -ms-flex-preferred-size: 67%;
  flex-basis: 67%;
}

.btn-banner {
  margin: 10px auto;
}

.section-subheader {
  font-size:32px;
  text-transform: uppercase;
  letter-spacing:3px;
  line-height: 1.5;
}

.section-sub-align {
  position: absolute;
  top: 40%;
  right: 7%;
}

.banner-right {
  position: relative;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  height: auto;
}

.banner-form {
  position: absolute;
  right: -30px;
  top: 45px;
  max-width: 500px;
  text-align: center;
  padding: 10px;
}

.pattern-banner {
  top: -0.6rem;
    left: -15rem;
    z-index: 3;
}

.banner-left .banner-img {
  position: absolute;
  bottom: 0;
  left: -200px;
  z-index: 4;
}

.map {
  position: relative;
  margin-top:10px;
}

.pattern-map-top {
  top: 50px;
  left: 130px;
}

.pattern-map-bot {
  bottom: -11%;
  right: -155px;
}

.map-title {
  position: absolute;
    right: -34px;
    padding: 0;
    top: -1%;
    font-size: 20px;
    font-weight: normal;
}

.map-box {
  position: absolute;
  margin-top: 34px;
  top: 25px;
  right: 13px;
  width: 590px;
  height: 580px;
  z-index: -1;
  margin-left: -34px;
}

.blue-shadow {
  position: absolute;
  top: 25px;
  right: -35px;
  width: 590px;
  height: 580px;
  background-color: #2b93d1;
  z-index: -1;
  margin-left: -34px;
}

.map-iframe {
  border-left: 2.4rem solid #ed1556;
  border-top: 3.8rem solid #ed1556;
  border-right: 2.4rem solid #ed1556;
  border-bottom: 3.8rem solid #ed1556;
}

.call-2-action button {
  width: 350px;
  height: 90px;
}

.lady-offer-action {
  height: 714px;
  padding: 120px 50px 50px 50px;
  position: relative;
}

.lady-offer-action button {
  width: 350px;
  height: 70px;
  font-weight: bold;
  font-size: 17px;
}

.pink-shadow {
  position: absolute;
  top: -25px;
  right: -98px;
  width: 590px;
  height: 600px;
  background-color: #ed1556;
  z-index: -1;
  
}

.pink-shadow-lady {
  position: absolute;
  top: -25px;
  left: -98px;
  width: 590px;
  height: 600px;
  background-color: #ed1556;
  z-index: -1;
  
}

.pattern-lady-top {
  left: -130px;
  top: 3px;
}

.pattern-lady-bot {
  z-index: -1;
  left: 265px;
  bottom: 120px;
}

.model  {
  position: relative;
}

/* slider */

.customize-video {
  position: relative;
}

.pattern-customize-top {
  top: 3%;
  left: 1%;
}

.pattern-customize-bot {
  right: 0;
  bottom: 21%;
}


.blue-shadow-custom {
  position: absolute;
  top: 25px;
  right: 4%;
  width: 590px;
  height: 480px;
  background-color: #2b93d1;
  z-index: -1;
}


.slider {
  margin: 0 auto;
  max-width: 639px;
}

.slide_viewer {
  height: 639px;
  overflow: hidden;
  position: relative;
  border: 54px solid #ed1556;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background:#ed1556;
}

.slide:nth-of-type(2) {
  background: #2b93d1;
}

.slide:nth-of-type(3) {
  background: #ed1556;
}


.slide_buttons {
  left: 0;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color:#f5c3d2;
  font-size: 82px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #ed1556;;
  cursor: pointer;
}



@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}

 /* ===================================================================
 * 6.0 :: Footer
 * ===================================================================
 */
footer {
  background: #847f7f;
  padding-top:8px;
}

footer h3 {
  padding: 10px;
}

/* ===================================================================
 * 7.0 :: Clearing
 * ===================================================================
 */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.clearfix:after,
.inside:after,
li:after,
form:after,
article:after {
    content: " ";
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden
}


/* ===================================================================
 * 8.0 :: Mobile CSS
 * ===================================================================
 */

 @media screen and (max-width: 1150px) {
  html {
      font-size: 62%;
  }
}
@media screen and (max-width: 1050px) {
  html {
      font-size: 8px;
  }
}
@media screen and (max-width: 850px) {
  html {
      font-size: 7px;
  }
  .flex--33, .flx--50, .flex--67 {
   
  }

  .d-flex {
    display: block;
  }
}

@media screen and (max-width: 420px) {
  html {
      font-size: 45%;
  }
}

@media only screen and (max-width: 900px) and (min-width: 375px) {


  .nav-bar {
    justify-content: space-evenly;
  }

  .nav-contact {
    margin-top: 0;
    letter-spacing: 2px;
    width: 40%;
    height: 5rem;
  }

  .mt-1-sm {
    margin-top: 40px;
  }

  h1, .h1-text-deco {
    font-size: 40px;
    text-align: center!important;
  }

  .banner-wrapper {
    flex-direction: column;
  }

  .banner-right {
    order: 1;
    flex: 1 0 100%;
  }

  .banner-form {
    right:0;
    margin: 0 auto;
    position: unset;
  }


  .banner-left {
    order: 2;
    flex: 2 0 100%;
  }

  .banner-image {
    left:0;
    margin: 0 auto;
    position: unset;
  }

 /* ===================================================================
 * 9.0 :: Font
 * ===================================================================
 */

 @font-face {
  font-family: "din-regular";
  src: url("font/din-regular.woff2") format("woff2"), url("font/din-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "din-medium";
  src: url("font/din-medium.woff2") format("woff2"), url("font/din-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "din-condensed";
  src: url("font/din-condensed.woff2") format("woff2"), url("font/din-condensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "din-bold";
  src: url("font/din-bold.woff2") format("woff2"), url("font/din-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: tryfont;
  src:url(./font/din.woff);
}

.din-regular {
  font-family: "din-regular";
}
.din-medium {
  font-family: "din-medium";
}
.din-condensed {
  font-family: "din-condensed";
}
.din-bold {
  font-family: "din-bold";
}
